body {
	font-family: 'Lato', sans-serif;
}
a {
	color: #b71a4c;
}
.front-indicator {
	width: 100%;
	background-color: #f6f6f6;
	color: #adadad;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.container {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;

}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: #B9DEA0;

}
div.seatCharts-seat.available.a-class {
	background-color: #B5495B;
}
div.seatCharts-seat.available.b-class {
  background-color: #FB966E;
}
div.seatCharts-seat.available.c-class {
  background-color: #FFB11B;
}
div.seatCharts-seat.available.d-class {
  background-color: #FBE251;
}
div.seatCharts-seat.available.e-class {
  background-color: #FAD689;
}
div.seatCharts-seat.available.f-class {
  background-color: #B5CAA0;
}
div.seatCharts-seat.available.g-class {
  background-color: #A5DEE4;
}
div.seatCharts-seat.available.h-class {
  background-color: #3A8FB7;
}
div.seatCharts-seat.available.i-class {
  background-color: #7B90D2;
}
div.seatCharts-seat.focused {
	background-color: #BDC0BA;
}
div.seatCharts-seat.selected {
	background-color: #00AA90;
}
div.seatCharts-seat.unavailable {
	background-color: #0C0C0C;
}
div.seatCharts-container {
	width: 1800px;
	padding: 15px;
	margin: auto;

}
div.seatCharts-legend {
	right: 0px;
  padding-right: 25px;
	position: absolute;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}
