.dz-ipu {
  border: 1px solid #e0e7eb;
  border-radius: 3px;
  color: #7f8c8d;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  margin-bottom: 15px;
  /* margin-left: 8px; */
  padding-left: 14px;
  width: 366px;
}

input {
  font-size: 100%;
  outline: medium none;
  resize: none;
  font: 12px/1.5 "Microsoft YaHei", 微软雅黑, STHeiti, MingLiu;
  color: #666;
}

.dz-denglu {
  background-color: #ff6633;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 40px;
  /* margin-left: 8px; */
  margin-top: 10px;
  width: 366px;
}
