/*
登录注册的输入框
*/
.login-register-input {
  font-weight: 400;
  height: 50px;
  margin-bottom: 15px;
  /* margin-left: 8px; */
  width: 366px;
  outline: medium none;
  resize: none;
  font: 13px "Microsoft YaHei", 微软雅黑, STHeiti, MingLiu;
  color: #666;
}

/*
提交表单的按钮
 */
.login-btn {
  /*background-color: #F78989;*/
  border: 0 none;
  border-radius: 3px;
  /*color: #fff;*/
  cursor: pointer;
  font-size: 17px;
  height: 40px;
  /* margin-left: 8px; */
  margin-top: 10px;
  width: 366px;
}
